version: "3.1"
services:
  angularApp:
    image: angular-app
    container_name: app-teste-angular
    build:
      context: ./teste-pratico-angular
      dockerfile: Dockerfile
    ports:
      - 8000:80
    links:
      - springApp:spring-app

  springApp:
    image: spring-app
    container_name: api-teste-java
    build:
      context: ./teste-pratico-java
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    links:
      - mysql:database-app

  mysql:
    image: mysql:5.7
    container_name: database-app
    command: "mysqld --innodb-flush-method=fsync"
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=nDLvUCNscWDqDIAY
      - MYSQL_DATABASE=testeJava
      - MYSQL_USER=sa
      - MYSQL_PASSWORD=123456
    volumes:
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/custom.cnf
      - ./docker/mysql/data:/var/lib/mysql
# phpmyadmin:
#   image: phpmyadmin/phpmyadmin:latest
#   container_name: phpmyadmin-app
#   environment:
#     PMA_HOST: database-app
#     PMA_PORT: 3306
#   ports:
#     - "8050:80"
#   volumes:
#     - /sessions
