<div class="content">
    <form (ngSubmit)="gravar()" [formGroup]="form">
        <div class="container-filter">
            <mat-form-field appearance="legacy">
                <mat-label>Nome:</mat-label>
                <input formControlName="nome" matInput placeholder="Ex.: João Nascimento" [(ngModel)]="functionario.nome" required />
                <button *ngIf="functionario.nome" mat-button matSuffix mat-icon-buttonaria-label="Clear" (click)="functionario.nome = ''">
          <mat-icon>close</mat-icon>
        </button>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>CPF:</mat-label>
                <input formControlName="cpf" matInput placeholder="Ex.: 000.000.000-00" maxlength="14" [ngModel]="functionario.cpf | cpfPipe" (ngModelChange)="functionario.cpf = $event" required />
                <button *ngIf="functionario.cpf" mat-button matSuffix mat-icon-buttonaria-label="Clear" (click)="functionario.cpf = ''">
          <mat-icon>close</mat-icon>
        </button>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Data Nascimento:</mat-label>
                <input formControlName="dataNascimento" matInput type="date" placeholder="Ex.: DD/MM/AAAA" [(ngModel)]="functionario.dataNascimento" required />
                <button *ngIf="functionario.dataNascimento" mat-button matSuffix mat-icon-buttonaria-label="Clear" (click)="functionario.dataNascimento = ''">
          <mat-icon>close</mat-icon>
        </button>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Login:</mat-label>
                <input formControlName="login" matInput placeholder="Ex.: joaonas" maxlength="12" [(ngModel)]="functionario.login" required />
                <button *ngIf="functionario.login" mat-button matSuffix mat-icon-buttonaria-label="Clear" (click)="functionario.login = ''">
          <mat-icon>close</mat-icon>
        </button>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Senha:</mat-label>
                <input formControlName="senha" type="password" matInput [(ngModel)]="functionario.senha" maxlength="12" required />
                <button *ngIf="functionario.senha" mat-button matSuffix mat-icon-buttonaria-label="Clear" (click)="functionario.senha = ''">
          <mat-icon>close</mat-icon>
        </button>
            </mat-form-field>
        </div>
        <button class="button-submit" mat-raised-button type="submit">
      Gravar
    </button>
    </form>
</div>